:root {
    --background-color: #333;
    --text-color: #fff;
    --border-color: #444;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-family: JetBrains Mono, monospace;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "title title"
        "main controls"
        "footer footer";
    gap: 1.25rem;
    cursor: default;
}

.color-picker {
    width: 100%;
    height: 2rem;
    border-radius: 0.25rem;
    background: var(--border-color);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.color-picker::-webkit-color-swatch-wrapper,
.color-picker::-moz-color-swatch-wrapper,
.color-picker::-ms-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch,
.color-picker::-moz-color-swatch,
.color-picker::-ms-color-swatch {
    border: none;
    border-radius: 0.25rem;
}

.controls-container {
    grid-area: controls;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1.25rem;
    gap: 1.25rem;
}

.controls {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 0.25rem;
    color: var(--text-color);
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.3125rem solid var(--border-color);
    border-radius: 0.625rem;
    margin-top: -40px;
    margin-right: 250px;
}

.control-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.control-row label {
    text-align: left;
}

.control-row input[type="checkbox"] {
    width: 20%;
    cursor: pointer;
}

header {
    grid-area: title;
    justify-self: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

main {
    grid-area: main;
    justify-self: center;
    position: relative;
}

footer {
    grid-area: footer;
    justify-self: center;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1.25rem;
    font-size: 1.005rem;
    text-align: center;
    border-top: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

canvas {
    border: 0.3125rem solid var(--border-color);
    border-radius: 0.625rem;
    justify-self: center;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

canvas:active {
    cursor: grab;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
    background: var(--border-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--text-color);
    cursor: pointer;
}

.dark-mode {
    background-color: #222;
    color: var(--text-color);
}

.dark-mode section {
    background-color: var(--background-color);
}

.dark-mode canvas {
    border-color: var(--border-color);
}

@media (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas:
            "title"
            "main"
            "controls"
            "footer";
    }

    .controls-container {
        align-items: center;
        padding: 0.625rem;
    }

    .controls {
        margin-top: 50px;
        margin-right: 100px;
    }

    canvas {
        width: 90%;
        height: auto;
    }

    #overlay {
        font-size: 30px;
    }

    #clear {
        padding: 5px 10px;
        font-size: 12px;
        width: 80px;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

.typing-animation {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white;
    animation:
        typing 1.5s steps(40, end),
        blink-caret .75s step-end infinite forwards;
    width: 100%;
}

#linkGithub {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    animation: rainbow 10s infinite;
}

@keyframes rainbow {
    0% {
        color: red;
    }

    10% {
        color: orangered;
    }

    20% {
        color: orange;
    }

    30% {
        color: gold;
    }

    40% {
        color: yellow;
    }

    50% {
        color: lime;
    }

    60% {
        color: green;
    }

    70% {
        color: teal;
    }

    80% {
        color: blue;
    }

    90% {
        color: indigo;
    }

    100% {
        color: violet;
    }
}

.controls input {
    width: 100%;
}

#ball-count,
#label-ball-count {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 0.3125rem;
    text-align: center;
    width: 4rem;
    margin: 0 auto;
}

#ball-count {
    font-size: 1.5rem;
    padding: 0.5rem;
}

#canvas {
    z-index: 1;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93%;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    display: block;
    z-index: 2;
    pointer-events: none;
    border-radius: 0.3125rem;
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#overlay p {
    margin-top: 30%;
}

#clear {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    transition: background-color 0.2s, color 0.2s;
}

#clear:hover {
    background-color: white;
    color: black;
}

#clear:active {
    background-color: #666;
    color: white;
}

#ball-color {
    border: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

#js-title {
    color: yellow;
}

#title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px #000;
    padding: 5px;
}