:root {
    --background-color: #333;
    --text-color: #fff;
    --border-color: #444;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    margin: 0;
    font-family: JetBrains Mono, monospace;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "title title"
        "main controls"
        "footer footer";


    gap: 1.25rem;
}


.controls-container {
    grid-area: controls;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1.25rem;
    gap: 1.25rem;
}

.controls {
    /* Other styles */
    margin-top: 100px;
    margin-right: 200px;
    /* Adjust as needed */
}


header {
    grid-area: title;
    justify-self: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

main {
    grid-area: main;
    justify-self: center;
}

footer {
    grid-area: footer;
    justify-self: center;
}

canvas {
    border: 0.3125rem solid var(--border-color);
    border-radius: 0.625rem;
    justify-self: center;
}

.dark-mode {
    background-color: #222;
    color: var(--text-color);
}

.dark-mode section {
    background-color: var(--background-color);
}

.dark-mode canvas {
    border-color: var(--border-color);
}

@media (max-width: 37.5rem) {
    body {
        background-color: #222;
    }

    canvas {
        width: 100%;
        height: auto;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

.typing-animation {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white;
    animation:
        typing 1.5s steps(40, end),
        blink-caret .75s step-end infinite forwards;
    width: 100%;
}

#linkGithub {
    color: deepskyblue;
    text-decoration: none;
    font-weight: bold;
}

.controls input {
    width: 100%;
    /* Adjust as needed */
}

#ball-count,
#label-ball-count {
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.25rem;

    border-radius: 0.3125rem;
    text-align: center;

}

main {
    position: relative;
}

#canvas {
    z-index: 1;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 87%;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    display: block;
    z-index: 2;
    pointer-events: none;
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#overlay p {
    margin-top: 30%;
}

#clear {
    background-color: white;
    color: #222;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#clear:hover {
    background-color: #f1f1f1;
    color: black;

}

#clear:active {
    background-color: #666;
    color: white;
}

#ball-color {
    border: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

#js-title {
    color: yellow;
}