:root {
    --background-color: #333;
    --text-color: #fff;
    --border-color: #444;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "title title"
        "main controls"
        "footer footer";

    gap: 1.25rem;
}


.controls-container {
    grid-area: controls;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1.25rem;
    gap: 1.25rem;
}

.controls {
    /* Other styles */
    margin-top: 100px;
    margin-right: 200px;
    /* Adjust as needed */
}


header {
    grid-area: title;
    justify-self: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

main {
    grid-area: main;
    justify-self: center;
}

footer {
    grid-area: footer;
    justify-self: center;
}

canvas {
    border: 0.3125rem solid var(--border-color);
    border-radius: 0.625rem;
    justify-self: center;
}

.dark-mode {
    background-color: #222;
    color: var(--text-color);
}

.dark-mode section {
    background-color: var(--background-color);
}

.dark-mode canvas {
    border-color: var(--border-color);
}

@media (max-width: 37.5rem) {
    body {
        background-color: #222;
    }

    canvas {
        width: 100%;
        height: auto;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

.typing-animation {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white;
    animation:
        typing 1.5s steps(40, end),
        blink-caret .75s step-end infinite forwards;
    width: 100%;
}

#linkGithub {
    color: deepskyblue;
    text-decoration: none;
    font-weight: bold;
}

.controls input {
    width: 100%;
    /* Adjust as needed */
}